/* 배너 컨테이너 */
.rollingbanner{  /* .main_auto-scroll  */
    width: 100%;
    height: 5rem;
    font-size: 2.5rem;
    color: #fff;
    background-color: #333;
}
.rollingbanner span{ /* .main_auto-scroll-roller  */
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
.rollingbanner > .wrap{
    position: relative;
    width: 100%;
    height: inherit;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
}


/* 애니메이션하는 요소 */
.roller{
    position: absolute;
}
